[Unit]
Description=Clash User Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple

ExecStart=%h/.local/bin/clash --config "%h/.config/clash/config.yaml"

Restart=on-failure
RestartSec=30s

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
